/* .newBook {
  flex: 4;
  margin-left: 100px;
}

.addBookForm {
  margin-top: 10px;
}

.addBookItem {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.addBookItem>label {
  color: gray;
  font-weight: 600;
  margin-bottom: 10px;
}

.addBookItem>input {
  padding: 10px;
}

.addBookItem>select {
  padding: 10px;
}

.addBookButton {
  margin-top: 10px;
  padding: 7px 10px;
  border: none;
  border-radius: 10px;
  background-color: darkblue;
  color: white;
  font-weight: 600;
  cursor: pointer;
} */
.newBook {
  flex: 4;
  margin-left: 100px;
}

.addBookForm {
  margin-top: 10px;
}

.addBookItem {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.addBookItem>label {
  color: gray;
  font-weight: 600;
  margin-bottom: 10px;
}

.addBookItem>input {
  padding: 10px;
}

.addBookItem>select {
  padding: 10px;
}

.addBookButton {
  margin-top: 10px;
  padding: 7px 10px;
  border: none;
  border-radius: 10px;
  background-color: darkblue;
  color: white;
  font-weight: 600;
  cursor: pointer;
}